web-app/node_modules/* 	
# Ticket-Viewer Application using NodeJS
>An interactive browser application that connects to the Zendesk [API](https://www.zendesk.com/) and displays ticket information from a Zendesk account.

## 🚀 Installation Instructions

1. Install NodeJs locally.
2. Clone or download the repository.
4. Go to web-app folder. 
5. run the following command, to install node modules locally
```javascript
    npm install
```
6. run the following command to start node server which runs on PORT 3000
```javascript
    npm start
```
7. Then, open browser navigate to localhost:3000 where the server is running
```javascript
    http://localhost:3000
```
8. run the following command in new terminal window to run unit tests
```javascript
    npm test
```

## 📢 Features

* Displays a list of all tickets.
* Pages through 25 tickets at a time
* Displays individual tickets
* Search By Id using search bar
* Error Message


## 🔧 Unit Tests

![Testing code](https://github.com/kajal1106/Ticket-Viewer/blob/master/web-app/public/img/TestCases.jpg "Unit Test")

